--
-- PostgreSQL database dump
--

-- Dumped from database version 16.10
-- Dumped by pg_dump version 16.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO "qr-agent";

--
-- Name: customers; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    phone character varying(20) NOT NULL,
    name character varying(100),
    created_at timestamp without time zone,
    last_login timestamp without time zone
);


ALTER TABLE public.customers OWNER TO "qr-agent";

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.customers_id_seq OWNER TO "qr-agent";

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: daily_specials; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.daily_specials (
    id integer NOT NULL,
    organization_id integer NOT NULL,
    menu_item_id integer NOT NULL
);


ALTER TABLE public.daily_specials OWNER TO "qr-agent";

--
-- Name: daily_specials_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.daily_specials_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.daily_specials_id_seq OWNER TO "qr-agent";

--
-- Name: daily_specials_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.daily_specials_id_seq OWNED BY public.daily_specials.id;


--
-- Name: feedbacks; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.feedbacks (
    id integer NOT NULL,
    order_id integer,
    rating integer,
    comment text,
    created_at timestamp without time zone
);


ALTER TABLE public.feedbacks OWNER TO "qr-agent";

--
-- Name: feedbacks_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.feedbacks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.feedbacks_id_seq OWNER TO "qr-agent";

--
-- Name: feedbacks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.feedbacks_id_seq OWNED BY public.feedbacks.id;


--
-- Name: group_members; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.group_members (
    id integer NOT NULL,
    group_id integer NOT NULL,
    name character varying(100) NOT NULL,
    member_token character varying(100),
    joined_at timestamp without time zone
);


ALTER TABLE public.group_members OWNER TO "qr-agent";

--
-- Name: group_members_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.group_members_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.group_members_id_seq OWNER TO "qr-agent";

--
-- Name: group_members_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.group_members_id_seq OWNED BY public.group_members.id;


--
-- Name: groups; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.groups (
    id integer NOT NULL,
    creator_id integer NOT NULL,
    table_id integer NOT NULL,
    organization_id integer NOT NULL,
    join_code character varying(8) NOT NULL,
    is_active boolean,
    created_at timestamp without time zone,
    expires_at timestamp without time zone NOT NULL
);


ALTER TABLE public.groups OWNER TO "qr-agent";

--
-- Name: groups_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.groups_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.groups_id_seq OWNER TO "qr-agent";

--
-- Name: groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.groups_id_seq OWNED BY public.groups.id;


--
-- Name: kitchen_stations; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.kitchen_stations (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    capacity integer,
    organization_id integer
);


ALTER TABLE public.kitchen_stations OWNER TO "qr-agent";

--
-- Name: kitchen_stations_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.kitchen_stations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.kitchen_stations_id_seq OWNER TO "qr-agent";

--
-- Name: kitchen_stations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.kitchen_stations_id_seq OWNED BY public.kitchen_stations.id;


--
-- Name: menu_items; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.menu_items (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    price double precision NOT NULL,
    image_url character varying(255),
    organization_id integer,
    category character varying(50),
    dietary_preference character varying(50),
    available_times character varying(100),
    is_vegetarian boolean,
    is_available boolean,
    image1 character varying(255),
    image2 character varying(255),
    image3 character varying(255),
    image4 character varying(255)
);


ALTER TABLE public.menu_items OWNER TO "qr-agent";

--
-- Name: menu_items_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.menu_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.menu_items_id_seq OWNER TO "qr-agent";

--
-- Name: menu_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.menu_items_id_seq OWNED BY public.menu_items.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    order_id integer,
    menu_item_id integer,
    quantity integer,
    special_requests text,
    price_at_order double precision,
    member_id integer
);


ALTER TABLE public.order_items OWNER TO "qr-agent";

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.order_items_id_seq OWNER TO "qr-agent";

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    customer_id integer,
    table_id integer,
    status character varying(20),
    total_amount double precision,
    created_at timestamp without time zone,
    accepted_at timestamp without time zone,
    preparing_at timestamp without time zone,
    ready_at timestamp without time zone,
    served_at timestamp without time zone,
    completed_at timestamp without time zone,
    special_requests text,
    prep_instructions text,
    priority character varying(10),
    station_assignment_time timestamp without time zone,
    kitchen_station_id integer,
    group_id integer,
    rejected_at timestamp without time zone,
    on_hold_at timestamp without time zone
);


ALTER TABLE public.orders OWNER TO "qr-agent";

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.orders_id_seq OWNER TO "qr-agent";

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: organizations; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.organizations (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    admin_id integer NOT NULL,
    subscription_plan character varying(50),
    is_active boolean,
    created_at timestamp without time zone,
    location character varying(255),
    image_1 character varying(255),
    image_2 character varying(255),
    image_3 character varying(255),
    image_4 character varying(255)
);


ALTER TABLE public.organizations OWNER TO "qr-agent";

--
-- Name: organizations_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.organizations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.organizations_id_seq OWNER TO "qr-agent";

--
-- Name: organizations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.organizations_id_seq OWNED BY public.organizations.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.payments (
    id integer NOT NULL,
    order_id integer,
    amount double precision NOT NULL,
    method character varying(50),
    transaction_id character varying(100),
    status character varying(20),
    created_at timestamp without time zone
);


ALTER TABLE public.payments OWNER TO "qr-agent";

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.payments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payments_id_seq OWNER TO "qr-agent";

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: status_changes; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.status_changes (
    id integer NOT NULL,
    order_id integer,
    from_status character varying(20),
    to_status character varying(20),
    "timestamp" timestamp without time zone,
    changed_by integer,
    notes text
);


ALTER TABLE public.status_changes OWNER TO "qr-agent";

--
-- Name: status_changes_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.status_changes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.status_changes_id_seq OWNER TO "qr-agent";

--
-- Name: status_changes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.status_changes_id_seq OWNED BY public.status_changes.id;


--
-- Name: tables; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.tables (
    id integer NOT NULL,
    number character varying(20) NOT NULL,
    qr_code_url text,
    organization_id integer,
    is_occupied boolean
);


ALTER TABLE public.tables OWNER TO "qr-agent";

--
-- Name: tables_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.tables_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tables_id_seq OWNER TO "qr-agent";

--
-- Name: tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.tables_id_seq OWNED BY public.tables.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: qr-agent
--

CREATE TABLE public.users (
    id integer NOT NULL,
    role character varying(20) NOT NULL,
    email character varying(100),
    phone character varying(15),
    password_hash character varying(256),
    otp_expiry timestamp without time zone,
    created_at timestamp without time zone,
    is_active boolean,
    organization_id integer
);


ALTER TABLE public.users OWNER TO "qr-agent";

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: qr-agent
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO "qr-agent";

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: qr-agent
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: daily_specials id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.daily_specials ALTER COLUMN id SET DEFAULT nextval('public.daily_specials_id_seq'::regclass);


--
-- Name: feedbacks id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.feedbacks ALTER COLUMN id SET DEFAULT nextval('public.feedbacks_id_seq'::regclass);


--
-- Name: group_members id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.group_members ALTER COLUMN id SET DEFAULT nextval('public.group_members_id_seq'::regclass);


--
-- Name: groups id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.groups ALTER COLUMN id SET DEFAULT nextval('public.groups_id_seq'::regclass);


--
-- Name: kitchen_stations id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.kitchen_stations ALTER COLUMN id SET DEFAULT nextval('public.kitchen_stations_id_seq'::regclass);


--
-- Name: menu_items id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.menu_items ALTER COLUMN id SET DEFAULT nextval('public.menu_items_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: organizations id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.organizations ALTER COLUMN id SET DEFAULT nextval('public.organizations_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: status_changes id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.status_changes ALTER COLUMN id SET DEFAULT nextval('public.status_changes_id_seq'::regclass);


--
-- Name: tables id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.tables ALTER COLUMN id SET DEFAULT nextval('public.tables_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: qr-agent
--

COPY public.alembic_version (version_num) FROM stdin;
c7be3bd4a4cd
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: qr-agent
--

COPY public.customers (id, phone, name, created_at, last_login) FROM stdin;
2	8296635241	Afnan Ahmed	2025-05-14 09:58:04.807746	\N
1	+918296635241	AFNAN AHMED	2025-05-14 09:19:18.102018	2025-06-06 06:19:23.142146
3	+919986905655	Abhay	2025-05-14 11:32:22.586102	2025-10-01 07:24:25.397313
4	9986905655	Abhay Patgar	2025-10-01 11:54:44.302549	\N
\.


--
-- Data for Name: daily_specials; Type: TABLE DATA; Schema: public; Owner: qr-agent
--

COPY public.daily_specials (id, organization_id, menu_item_id) FROM stdin;
\.


--
-- Data for Name: feedbacks; Type: TABLE DATA; Schema: public; Owner: qr-agent
--

COPY public.feedbacks (id, order_id, rating, comment, created_at) FROM stdin;
\.


--
-- Data for Name: group_members; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Data for Name: groups; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Data for Name: kitchen_stations; Type: TABLE DATA; Schema: public; Owner: qr-agent
--

COPY public.kitchen_stations (id, name, capacity, organization_id) FROM stdin;
\.


--
-- Data for Name: menu_items; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: qr-agent
--

COPY public.payments (id, order_id, amount, method, transaction_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: status_changes; Type: TABLE DATA; Schema: public; Owner: qr-agent
--

COPY public.status_changes (id, order_id, from_status, to_status, "timestamp", changed_by, notes) FROM stdin;
1	21	accepted	accepted	2025-06-02 07:20:30.139411	17	
2	22	accepted	accepted	2025-06-02 07:30:09.334703	17	
3	23	accepted	accepted	2025-06-02 07:48:58.27384	17	
4	24	accepted	accepted	2025-06-02 07:50:52.658592	17	
5	25	accepted	accepted	2025-06-02 07:56:43.207962	17	
\.


--
-- Data for Name: tables; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: qr-agent
--



--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.customers_id_seq', 4, true);


--
-- Name: daily_specials_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.daily_specials_id_seq', 1, false);


--
-- Name: feedbacks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.feedbacks_id_seq', 1, false);


--
-- Name: group_members_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.group_members_id_seq', 71, true);


--
-- Name: groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.groups_id_seq', 43, true);


--
-- Name: kitchen_stations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.kitchen_stations_id_seq', 1, false);


--
-- Name: menu_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.menu_items_id_seq', 157, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.order_items_id_seq', 73, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.orders_id_seq', 25, true);


--
-- Name: organizations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.organizations_id_seq', 9, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.payments_id_seq', 1, false);


--
-- Name: status_changes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.status_changes_id_seq', 5, true);


--
-- Name: tables_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.tables_id_seq', 23, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: qr-agent
--

SELECT pg_catalog.setval('public.users_id_seq', 19, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: customers customers_phone_key; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_phone_key UNIQUE (phone);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: daily_specials daily_specials_menu_item_id_key; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.daily_specials
    ADD CONSTRAINT daily_specials_menu_item_id_key UNIQUE (menu_item_id);


--
-- Name: daily_specials daily_specials_organization_id_key; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.daily_specials
    ADD CONSTRAINT daily_specials_organization_id_key UNIQUE (organization_id);


--
-- Name: daily_specials daily_specials_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.daily_specials
    ADD CONSTRAINT daily_specials_pkey PRIMARY KEY (id);


--
-- Name: feedbacks feedbacks_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_pkey PRIMARY KEY (id);


--
-- Name: group_members group_members_member_token_key; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_member_token_key UNIQUE (member_token);


--
-- Name: group_members group_members_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_pkey PRIMARY KEY (id);


--
-- Name: groups groups_join_code_key; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_join_code_key UNIQUE (join_code);


--
-- Name: groups groups_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_pkey PRIMARY KEY (id);


--
-- Name: kitchen_stations kitchen_stations_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.kitchen_stations
    ADD CONSTRAINT kitchen_stations_pkey PRIMARY KEY (id);


--
-- Name: menu_items menu_items_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: status_changes status_changes_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.status_changes
    ADD CONSTRAINT status_changes_pkey PRIMARY KEY (id);


--
-- Name: tables tables_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.tables
    ADD CONSTRAINT tables_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_phone_key; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_phone_key UNIQUE (phone);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: daily_specials daily_specials_menu_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.daily_specials
    ADD CONSTRAINT daily_specials_menu_item_id_fkey FOREIGN KEY (menu_item_id) REFERENCES public.menu_items(id);


--
-- Name: daily_specials daily_specials_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.daily_specials
    ADD CONSTRAINT daily_specials_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: feedbacks feedbacks_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.feedbacks
    ADD CONSTRAINT feedbacks_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: group_members group_members_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.group_members
    ADD CONSTRAINT group_members_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id);


--
-- Name: groups groups_creator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_creator_id_fkey FOREIGN KEY (creator_id) REFERENCES public.customers(id);


--
-- Name: groups groups_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: groups groups_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.groups
    ADD CONSTRAINT groups_table_id_fkey FOREIGN KEY (table_id) REFERENCES public.tables(id);


--
-- Name: kitchen_stations kitchen_stations_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.kitchen_stations
    ADD CONSTRAINT kitchen_stations_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: menu_items menu_items_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.menu_items
    ADD CONSTRAINT menu_items_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: order_items order_items_member_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_member_id_fkey FOREIGN KEY (member_id) REFERENCES public.group_members(id);


--
-- Name: order_items order_items_menu_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_menu_item_id_fkey FOREIGN KEY (menu_item_id) REFERENCES public.menu_items(id);


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: orders orders_group_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_group_id_fkey FOREIGN KEY (group_id) REFERENCES public.groups(id);


--
-- Name: orders orders_kitchen_station_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_kitchen_station_id_fkey FOREIGN KEY (kitchen_station_id) REFERENCES public.kitchen_stations(id);


--
-- Name: orders orders_table_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_table_id_fkey FOREIGN KEY (table_id) REFERENCES public.tables(id);


--
-- Name: organizations organizations_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.users(id);


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: status_changes status_changes_changed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.status_changes
    ADD CONSTRAINT status_changes_changed_by_fkey FOREIGN KEY (changed_by) REFERENCES public.users(id);


--
-- Name: status_changes status_changes_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.status_changes
    ADD CONSTRAINT status_changes_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: tables tables_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.tables
    ADD CONSTRAINT tables_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: users users_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: qr-agent
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: avnadmin
--

ALTER DEFAULT PRIVILEGES FOR ROLE avnadmin IN SCHEMA public GRANT ALL ON SEQUENCES TO "qr-agent";


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: avnadmin
--

ALTER DEFAULT PRIVILEGES FOR ROLE avnadmin IN SCHEMA public GRANT ALL ON TABLES TO "qr-agent";


--
-- PostgreSQL database dump complete
--

